
$background-color: rgb(73, 79, 82);

$button-background-color: rgba(0, 117, 160, 0.582);
$big-button-background-color: rgba(0, 117, 160, 0.836);
$button-text: #e8e6e3;
$border-color: 2px solid rgb(140, 130, 115);

$text-input-background: #131516;
$text-input-text: lightgray;

$link-color: #3391ff;

$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
$box-shadow-hover: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

$cancel-button-background-color: rgba(160, 5, 0, 0.555);