
$background-color: rgb(73, 79, 82);

$button-background-color: rgba(0, 117, 160, 0.582);
$button-text: #e8e6e3;
$border-color: rgb(140, 130, 115);

$text-input-background: #131516;
$text-input-text: lightgray;

$link-color: #3391ff;